[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

eliot = "*"
requests = "*"
click = "*"
jupyter = "*"
jupyterlab = "*"
jupyterlab-launcher = "*"
yapf = "*"
tinydb = "*"
eliot-tree = "*"


[dev-packages]



[requires]

python_version = "3.6"
